Matlab/alternative generator/smalldata.zip
Matlab/data/cannonicalMemoization.mat
**.m~
**.class
**.out
**/.classpath
**/.settings/*
**/.project
**/.metadata/**
**.DS_Store
.*
Matlab/alternative generator/smalldata/**
Matlab/cannonical/timing/data/**.txt
Reconstructability/data/**
!/.gitignore
